# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\leon.kolodziej\iCloudDrive\Uni\Master WINF\IVVA\Abgabe\Abgabe_09\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
